WP_API_URL="your-wp-api-url"
GROQ_API_KEY_SENAT_DE_MADAGASCAR="your-groq-api-key"
VERCEL_URL="your-vercel-url"
GOOGLE_SITE_VERIFICATION="your-google-site-verification"
GITHUB_LINK_RELEASE="your-github-link-release"
GITHUB_TOKEN="your-github-token"
GITHUB_API="your-github-api"
LIVE_RADIO_SOURCE_TYPE="url"
LIVE_RADIO_STREAM_URL="your-stream-url"
LIVE_RADIO_TITLE="Sénat Radio"
LIVE_YOUTUBE_CHANNEL_ID="your-youtube-id"
LIVE_YOUTUBE_CHANNEL_ID="your-youtube-api-key"
LIVE_FACEBOOK_VIDEO_URL="your-facebook-live-url"